.App {
  text-align: center;
  box-sizing: border-box;
}
/*
.login-container
{
  border: 1px solid black;
  border-radius: 4px;
  margin:auto;
  padding: auto;
  width:500px;
}
form>div{
  width:95%;
  margin: 15px;
}
button{
  width:100%;
  border: 1px solid black;
  background-color: yellow;
  color:black;
}
.login-heading{
  text-align: left;
  padding: 15px;
}
.label{
  text-align: left;
  margin: 7px;
  font-weight:bold;
}
h1{
  padding-top:50px;
  padding-bottom:10px;
  font-weight:bolder;
} */